body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #e5e5e5;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.shenhong :link {
	font-size:12px;
	color:#990000;
	text-decoration:none;
		font-family: "宋体";
	line-height: 23px;
}
.shenhong :visited {
	font-size:12px;
	color:#990000;
	text-decoration:none;
		font-family: "宋体";
	line-height: 23px;
}
.shenhong :hover {
	font-size:12px;
	color:#3300FF;
	text-decoration:none;
	font-family: "宋体";
	line-height: 23px;
}
.shenhong :active {
	font-size:12px;
	color:#990000;
	text-decoration:none;
	font-family: "宋体";
	line-height: 23px;
} .daohangh:link {
	font-size:12px;
	color:#746350;
	text-decoration:none;
	line-height: 18px;
}
.daohangh:visited {
	font-size:12px;
	color:#746350;
	text-decoration:none;
	line-height: 18px;
}
.daohangh:hover {
	font-size:12px;
	color:#FF0000;
	text-decoration:none;
	font-family: "宋体";
	line-height: 18px;
}
.daohangh  :active {
	font-size:12px;
	color:#FF0000;
	text-decoration:none;
	font-family: "宋体";
	line-height: 18px;
} 
.shenlan :link {
	font-size:12px;
	color:#383C2B;
	text-decoration:none;
	line-height: 18px;
}
.shenlan :visited {
	font-size:12px;
	color:#000000;
	text-decoration:none;
	line-height: 18px;
}
.shenlan :hover {
	font-size:12px;
	color:#FF6600;
	text-decoration:none;
	font-family: "宋体";
	line-height: 18px;
}
.shenlan :active {
	font-size:12px;
	color:#FF6600;
	text-decoration:none;
	font-family: "宋体";
	line-height: 18px;
} 
.hongcu {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #CC0000;
}
.danhuang {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	color: #FFFFCC;

}
.shenlan {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	color: #1C5785;
}
.chengse {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	color: #DCCCBB;
}
.shenlancu {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #006FC3;
}
.huise:link {
	font-size:12px;
	color:#000000;
	text-decoration:none;
	line-height: 24px;
	font-family: "宋体";
}
.huise:visited {
	font-size:12px;
	color:#000000;
	text-decoration:none;
	line-height: 24px;
}
.huise:hover {
	font-size:12px;
	color:#FF0000;
	text-decoration:none;
	font-family: "宋体";
	line-height: 24px;
}
.huise:active {
	font-size:12px;
	color:#383C2B;
	text-decoration:none;
	font-family: "宋体";
	line-height: 24px;
} 
.hong:link {
	font-size:12px;
	color: #FFFFFF;
	text-decoration:none;
	line-height: 24px;
	font-family: "宋体";
}
.hong:visited {
	font-size:12px;
	color: #FFFFFF;
	text-decoration:none;
	line-height: 24px;
}
.hong:hover {
	font-size:12px;
	color:#FFFF00;
	text-decoration:none;
	font-family: "宋体";
	line-height: 24px;
}
.hong:active {
	font-size:12px;
	color: #FFFF00;
	text-decoration:none;
	font-family: "宋体";
	line-height: 24px;
} 
.banhui {
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
}
.henhong{
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #990000;
}
.huise1{
	font-size:12px;
	color:#383C2B;
	text-decoration:none;
	font-family: "宋体";
	line-height: 24px;
